<!DOCTYPE html>
{% load staticfiles %}
{% load notifications_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <title>SpeakOut</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
        <nav class='nav navbar-default navbar-static-top navbar-inverse'>
            <div class="container">
                <a class="navbar-brand navbar-left" href="{% url 'index' %}">SpeakOut</a>
                    <ul class="nav navbar-nav navbar-left">
                        {% if user.is_authenticated %}
                            {% if user.patient_profile.is_patient %}

                                <li><a class="navbar-link" href="{% url 'my_app:home' %}">How it works?</a></li>
                                <li><a class="navbar-link" href="{% url 'my_app:edit_patient_profile' %}">Profile</a></li>
                                <li><a class="navbar-link" href="{% url 'my_app:listener_list' %}">Find Listeners & Therapists!</a></li>
                                <!-- <li><a class="navbar-link" href="{% url 'my_app:therapist_list' %}">Find Your Therapist!</a></li> -->
                                <li><a class="navbar-link" target="_blank" href="{% url 'my_app:select' %}">Listeners</a></li>
                                <li><a class="navbar-link" href="{% url 'my_app:select_therapist' %}">Therapists</a></li>
                                <li><a class="navbar-link" target="_blank" href="{% url 'my_app:video_chat' %}"><img class="img" src="{% static 'Images/video4.png' %}"></a></li>
                                <li><a class="navbar-link" target="_blank" href="{% url 'my_app:blog' %}">Blog</a></li>
                                <li><a class="navbar-link" href="{% url 'my_app:all_logout' %}">Logout</a></li>

                            {% elif user.listener_profile.is_listener %}

                                <li><a class="navbar-link" href="{% url 'my_app:edit_listener_profile' %}">My Profile</a></li>
                                <!-- <li><a class="navbar-link" href="#">Browse</a></li> -->
                                <li><a class="navbar-link" href="{% url 'my_app:listener_chat' %}">Connect</a></li>
                                <li><a class="navbar-link" href="{% url 'my_app:all_logout' %}">Logout</a></li>

                            {% else %}

                                <li><a class="navbar-link" href="{% url 'my_app:edit_therapist_profile' %}">Therapist Profile</a></li>
                                <!-- <li><a class="navbar-link" href="#">Browse</a></li> -->
                                <li><a class="navbar-link" href="{% url 'my_app:therapist_chat' %}">Connect</a></li>
                                <li><a class="navbar-link" href="{% url 'my_app:all_logout' %}">Logout</a></li>


                            {% endif %}

                        {% else %}


                            <li><a class="navbar-link" href="{% url 'my_app:about' %}">About Us</a></li>
                            <!-- <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li> -->
                            <li><a class="navbar-link" href="{% url 'my_app:patient' %}">Sign Up</a></li>
                            <li><a class="navbar-link" href="{% url 'my_app:volunteer' %}">Volunteer as a Listener</a></li>
                            <li><a class="navbar-link" href="{% url 'my_app:therapist' %}">Join Us</a></li>
                            <li><a class="navbar-link" href="{% url 'my_app:all_login' %}">Login</a></li>
                            <li><a class="navbar-link" href="{% url 'my_app:contact' %}">Contact Us</a></li>
                            <li><a class="navbar-link" href="{% url 'my_app:blog' %}">Blog</a></li>

                        {% endif %}

                    
                    </ul>
            </div>
        </nav>
        {% block body_block %}
        {% endblock %}
    </body>
</html>
