{% extends "my_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <div class="about-img">
        <div class="container about">
            <div class="jumbotron">
                <h2>How it Works?</h2>
                <p>Browse the listeners and therapists and connect with them with a click!</p>
                <p>We're here to Listen & Help you.</p>
            </div>
        </div>
    </div>
{% endblock %}       
