{% extends "my_app/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block body_block %}
    <div class="container padding">
        <div class="jumbotron">
            <h2>Select</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                {% if user.patient_profile.is_patient %}
                    <h4>Your Listeners:</h4>
                    <select class="form-control" id="select" name="drop">
                        <option selected="selected" value="none">Select a listener!</option>
                        
                        {% for listener in listeners %}
                            <option value="{{listener.user.id}}"
                                {% if listener == current_listener %}selected="selected"{% endif %}>
                                    {{listener.user.username}}
                                </option>
                        {% endfor %}
                            
                        </select><br>
                        <input type="hidden" id="chathash" name="chathash">
                        <input type="submit" value="Select" class="btn btn-primary">
                {% endif %}
               
            </form>
            <script>
                const hash = Math.floor(Math.random() * 0xFFFFFF).toString(16);   
                document.getElementById('chathash').value = hash;
                   
            </script>
        </div>
    </div>

{% endblock %}
